{% extends "accounts/base.html" %}

{% block accounts__content %}
<div class="text-center">
  <div class="form-signin">
    <form action="{% url 'accounts:login' %}" method="post">
      {% csrf_token %}

      <h1 class="h3 mb-3 fw-normal">Log in:</h1>

      <div class="form-floating">
        <input
          type="text"
          name="{{ form.username.name }}"
          required=""
          id="{{ form.username.auto_id }}"
          class="form-control"
          placeholder="{{ form.username.label }}"
        >
        <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          name="{{ form.password.name }}"
          autocomplete="current-password"
          required=""
          id="{{ form.password.auto_id }}"
          class="form-control"
          placeholder="{{ form.password.label }}"
        >
        <label for="{{ form.password.id_for_label }}">Password</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit" value="login">Log in</button>
    </form>

  </div>
  <p><a href="{% url 'accounts:register' %}">Register a new account.</a></p>
</div>
{% endblock accounts__content %}
