{% extends "base.html" %}

{% block content %}
<div class="container mt-1">

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

  {% comment %} 
    TODO: Make this into a form, and after clicking the board is created so the user can be redirected
    to the board already and share it instead of passing through the step of adding players, which is now
    optional because the board is shareable so people can add their own scores.
  {% endcomment %}
  <h2>Select game:</h2>
  <div class="list-group">
    {% for game in games %}
    <a
      href="{% url 'scoring:add_board_players' game.name %}"
      class="list-group-item list-group-item-action">
        {{ game.name }}
    </a>
    {% endfor %}
  </div>

</div>
{% endblock content %}
