{% extends "base.html" %}

{% block content %}
<div class="container mt-1">

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

  <h2>Your boards:</h2>
  <div class="list-group">
    {% for board in boards %}
    <a
      href="{% url "scoring:board_score" board.pk %}"
      class="list-group-item list-group-item-action"
    >
        Board #{{ board.pk }} ({{ board.game.name }})
    </a>
    {% endfor %}
  </div>

</div>
{% endblock content %}
