{% extends "base.html" %}

{% block content %}
<div class="text-center">
  <div class="form-signin">
    <h1 class="h3 mb-3 fw-normal">Player profile:</h1>
    <form action="{% url 'scoring:profile' %}" method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form %}
      <div id="div_{{ field.auto_id }}" class="form-floating mb-3">
        {{ field.errors }}
        {{ field }}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      </div>
      {% endfor %}
      <div class="mb-3">
        <div class="form-floating">
          <input
            type="submit"
            name="save"
            value="Save"
            class="btn btn-primary w-100 btn btn-lg btn-primary"
            id="submit-id-save"
          >
        </div>
      </div>
    </form>
  </div>
</div>

<div class="wip container text-center">
  <p>
    Work in progress: this page will contain the full player profile with a displayable name accross the app, a
    description and other personal data. Maybe here they can also modify their email.
    And also show the favourite games of the player, as well as the current and past boards
    that they are in, with links to each scoring board.
  </p>
</div>
{% endblock content %}
