<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Scoring App{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% bootstrap_messages %}
  {% block extra_head %}
  {% endblock extra_head %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'scoring:index' %}">Django Scoring App</a>
    {% if request.user.is_authenticated %}
    <div class="user-display">
      {{ request.user.username }}
    </div>
    {% endif %}
    <div class="d-flex">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'scoring:index' %}">Home</a>
          </li>
          {% if request.user.is_anonymous %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'accounts:login' %}">Login</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'accounts:invite' %}">Invite</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'accounts:logout' %}">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>

{% block content %}
{% endblock content %}

</body>
</html>
