<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A web app to keep track of scoring for board games.">
  <meta name="keywords" content="boardgames,scoring">
    <title>
      {% block title %}Scoring App{% endblock title %}
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'scoring:index' %}">
          Django Scoring App
        </a>
        <div class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if request.user.is_anonymous %}
              <li class="nav-item">
                <a class="nav-link ms-1"
                    aria-current="page"
                    href="{% url 'accounts:login' %}">Login</a>
              </li>
            {% else %}
              {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                  <button
                    type="button"
                    class="btn btn-secondary dropdown-toggle ms-1"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    {{ request.user.player.displayname }}
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end position-absolute" aria-labelledby="navbarDropdown">
                    <li class="nav-item">
                      {% if request.user.player.is_editor %}
                      <a
                        class="dropdown-item"
                        href="{% url 'scoring:add_game' %}"
                      >
                        Add New Game
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="dropdown-item"
                        href="{% url 'scoring:edit_games' %}"
                      >
                        Edit Games
                      </a>
                    </li>
                    {% endif %}
                    <li><hr class="dropdown-divider"></li>
                    <li class="nav-item">
                      <a
                        class="dropdown-item"
                        href="{% url 'scoring:profile' %}"
                      >
                        Profile
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="dropdown-item"
                        href="{% url 'accounts:invite' %}"
                      >
                        Invite friends
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="dropdown-item"
                        href="{% url 'accounts:logout' %}"
                      >
                        Log out
                      </a>
                    </li>
                  </ul>
                </li>
              {% endif %}
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}
    {% endblock content %}
  </body>
</html>
