{% extends './index.html' %}

{% block content %}

<form action="{% url 'scoring:save' game.name %}" method="post">
  <!-- CSRF toke tag for POST forms targeted at internal urls. -->
  {% csrf_token %}
  <fieldset>
    <legend><h1>{{ game.name }}</h1></legend>
    <!-- Display error message if any. -->
    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <!-- Show list of choices. -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Player 1</th>
          <th scope="col">Player 2</th>
        </tr>
      </thead>
      <tbody>
        {% for scoring_category in scoring_categories %}
        <tr>
          <th scope="row">{{ scoring_category.name }}</th>
          <th scope="row"><input type="number" name="score-{{ forloop.counter }}-1" id="score-{{ forloop.counter }}-1"/></th>
          <th scope="row"><input type="number" name="score-{{ forloop.counter }}-2" id="score-{{ forloop.counter }}-2"/></th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </fieldset>
  <input type="submit" value="Save" />
</form>

{% endblock %}
